APP_PORT=8888
APP_NAME="Nest.js GraphQL Boilerplate"

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE_NAME=boilerplate
DB_SYNC=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

STORAGE_TYPE=local
LOCAL_PATH=public
S3_ACCESS_KEY=
S3_REGION=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_ENDPOINT=

QUEUE_ATTEMPTS=3
QUEUE_REMOVE_ON_COMPLETE=
QUEUE_REMOVE_ON_FAIL=
QUEUE_DELAY=

MAIL_TRANSPORT=
MAIL_FROM=
MAIL_TEMPLATE_DIR=
